body {
  margin: 0;
  background: #5c258d;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#5c258d), to(#4389a2));
  background: linear-gradient(to right, #5c258d, #4389a2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 5px;
}

@media (max-width: 450px) {
  body {
    font-size: 16px;
  }
}

.absolute {
  position: absolute;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: auto;
}

.registration .form {
  background-color: rgba(46, 46, 46, 0.342);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(51, 51, 51, 0.54);
          box-shadow: 0px 0px 0px 0px rgba(51, 51, 51, 0.54);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  border-radius: 15px;
  width: 40%;
}

@media (max-width: 770px) {
  .registration .form {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .registration .form {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .registration .form {
    width: 90%;
  }
}

.registration .form h1 {
  font-weight: 400;
}

.registration .form span {
  text-align: end;
  display: inline-flexbox;
  margin: 0;
  margin-bottom: 3px;
  color: #d62a2a;
}

@media (max-width: 450px) {
  .registration .form span {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .registration .form span {
    font-size: 14px;
  }
}

.registration .form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-bottom: 10px;
}

.registration .form .form-group label {
  min-width: 110px;
  display: inline-flexbox;
  margin-bottom: 3px;
}

.registration .form .form-group input {
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 5px;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  border: 1px white;
  border-bottom-style: solid;
}

@media (max-width: 450px) {
  .registration .form .form-group input {
    font-size: 16px;
  }
}

.registration .form .form-group ::-webkit-input-placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.541);
}

.registration .form .form-group :-ms-input-placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.541);
}

.registration .form .form-group ::-ms-input-placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.541);
}

.registration .form .form-group ::placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.541);
}

.registration .form .form-group .form-group-date {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration .form .form-group .form-group-date select {
  width: 30%;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 5px;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  border: 1px white;
  border-bottom-style: solid;
  outline: none;
}

@media (max-width: 450px) {
  .registration .form .form-group .form-group-date select {
    font-size: 16px;
  }
}

.registration .form .form-group .form-group-date select option {
  font-size: 16px;
  color: black;
  background-color: rgba(219, 219, 219, 0.493);
}

.registration .form .form-group .form-group-date .error_input {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: rgba(214, 42, 42, 0.164);
  border-color: #d62a2a;
}

.registration .form .form-group .form-group--label-error {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration .form .form-group .error_input {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: rgba(214, 42, 42, 0.164);
  border-color: #d62a2a;
}

.registration .form .form-group button {
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 5px;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  border: 1px white;
  border-bottom-style: solid;
  height: 80px;
  font-size: 25px;
  border: solid 1px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.212);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  margin: 0;
}

@media (max-width: 450px) {
  .registration .form .form-group button {
    font-size: 16px;
  }
}

.registration .form .form-group button:disabled {
  color: #c2c2c2;
  border: solid 1px;
  border-radius: 15px;
  border-color: rgba(165, 164, 164, 0.11);
  background-color: rgba(165, 164, 164, 0.11);
  cursor: default;
}

.registration .form .form-group .link {
  text-align: center;
  color: rgba(255, 255, 255, 0.486);
  text-decoration: none;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */