@import "./_variables.style";

@mixin text {
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 5px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  //background: linear-gradient(287.31deg, rgba(128, 0, 255, 0.65) 0.36%, rgba(0, 71, 255, 0.62) 100%);
  //background: linear-gradient(287.31deg, #00c2ff 0.36%, #0543ba 29.94%, #400bb1 63.27%, #9e00ff 99.05%);
  background: linear-gradient(287.31deg, rgba(0, 194, 255, 0.76) 0.36%, rgba(5, 67, 186, 0.72) 29.94%, rgba(64, 11, 177, 0.74) 63.27%, rgba(158, 0, 255, 0.69) 99.05%);
  @include text;
}

@mixin input {
  @include text;
  margin-bottom: 0.6em;
  color: rgb(43, 43, 43);
  box-sizing: border-box;
  outline: none;
  border: solid 1px;
  border-color: grey;
  border-radius: 5px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.2s;
  &:hover {
    background-color: rgb(216, 216, 216);
  }
  /*
  &:focus {
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 2px 3px rgb(255, 255, 255);
  }
  */
}
.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: auto;

  .form {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 600px;
    transition: box-shadow 0.4s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.34);
    }

    h1 {
      font-weight: 400;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      width: 500px;
      margin-bottom: 10px;

      span {
        margin: 0;
        color: rgb(255, 73, 73);
        font-size: 20px;
      }

      label {
        display: inline-block;
        margin-bottom: 7px;
      }

      input {
        @include input;
      }
      ::placeholder {
        opacity: 0.7;
      }

      .form-group-date {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        select {
          width: 150px;
          @include input;
        }
      }

      button {
        @include input;
      }
    }
  }
}
