@import "./_variables.style";

@mixin for-phone-small {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin for-notebook {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin text {
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding: 5px;
  @include for-phone {
    font-size: 16px;
  }
}

html {
  padding: 0px 150px;

  @include for-notebook {
    padding: 0px 50px;
  }

  @include for-tablet {
    padding: 0px 0px;
  }

  @include for-phone {
    padding: 0px 0px;
  }
  @include for-phone-small {
    padding: 0px 0px;
  }
}

nav {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  .link {
    display: flex;
    text-align: center;
    color: white;
    background-color: rgba(46, 46, 46, 0.342);
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    padding: 5px 10px;
  }
}

body {
  margin: 0;
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5c258d, #4389a2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5c258d,
    #4389a2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  @include text;
}

.absolute {
  position: absolute;
}

@mixin input {
  @include text;
  margin-bottom: 0.6em;
  //color: rgb(43, 43, 43);
  box-sizing: border-box;
  outline: none;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  border: 1px rgb(255, 255, 255);
  border-bottom-style: solid;
}

@mixin btn {
  border: solid 1px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.212);
  transition: all 0.2s linear;
  cursor: pointer;
  margin: 0;
  &:disabled {
    color: rgb(194, 194, 194);
    border: solid 1px;
    border-radius: 15px;
    border-color: rgba(165, 164, 164, 0.11);
    background-color: rgba(165, 164, 164, 0.11);
    cursor: default;
  }
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: auto;

  .form {
    background-color: rgba(46, 46, 46, 0.342);
    box-shadow: 0px 0px 0px 0px rgba(51, 51, 51, 0.54);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 15px;
    width: 40%;
    @include for-tablet {
      width: 80%;
    }

    @include for-phone {
      width: 90%;
    }
    @include for-phone-small {
      width: 90%;
    }

    h1 {
      font-weight: 400;
    }

    span {
      text-align: end;
      display: inline-flexbox;
      //max-width: 150px;
      margin: 0;
      margin-bottom: 3px;
      color: rgb(214, 42, 42);
      //font-size: 16px;
      //line-height: 30px;
      @include for-phone {
        font-size: 16px;
      }
      @include for-phone-small {
        font-size: 14px;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-bottom: 10px;

      label {
        min-width: 110px;
        display: inline-flexbox;
        margin-bottom: 3px;
      }

      input {
        @include input;
      }
      ::placeholder {
        font-weight: 100;
        color: rgba(255, 255, 255, 0.541);
      }

      .form-group-date {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        select {
          width: 30%;
          @include input;
          //outline: solid 1px;
          //border-radius: 7px;
          outline: none;
          option {
            font-size: 16px;
            color: black;
            background-color: rgba(219, 219, 219, 0.493);
          }
        }
        .error_input {
          transition: background-color 0.2s linear;
          background-color: rgba(214, 42, 42, 0.164);
          border-color: rgb(214, 42, 42);
        }
      }

      .form-group--label-error {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
      }
      .error_input {
        transition: background-color 0.2s linear;
        background-color: rgba(214, 42, 42, 0.164);
        border-color: rgb(214, 42, 42);
      }

      button {
        @include input;
        @include btn;
        height: 80px;
        font-size: 25px;
      }
    }
    .link {
      text-align: center;
      color: rgba(255, 255, 255, 0.486);
      text-decoration: none;
      font-size: 20px;
    }
  }
}
