@import "./_variables.style";

@mixin for-phone-small {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 770px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin text {
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 5px;
  @include for-phone {
    font-size: 16px;
  }
}

@mixin input {
  @include text;
  margin-bottom: 0.6em;
  box-sizing: border-box;
  outline: none;
  height: 40px;
  background-color: $input-color;
  padding: 0px;
  padding-left: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
}

@mixin error {
  transition: background-color 0.2s linear;
  background-color: $error-bg-color;
  border-color: $error-main-color;
}

body {
  @include text;
  background-color: $main-bg;
  margin: 0;
  padding: 10px 10px;
}

nav {
  background-color: $secondary-bg;
  border-radius: 30px;
  //box-shadow: 0px 0px 20px 5px #1f1d30;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  padding: 10px 10px;
  .nav--left {
    display: flex;
    min-width: 300px;
  }
  .nav--right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .navlink {
    display: flex;
    min-height: 40px;
    padding: 0px 10px;
    font-size: 18px;
    border-radius: 15px;
    background-color: $button-color;
    transition: all 0.2s linear;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    p {
      margin: 0;
      color: white;
    }
    margin-right: 10px;
  }
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: auto;
}

.form {
  background-color: $secondary-bg;
  border-radius: 30px;
  //box-shadow: 0px 0px 20px 5px #1f1d30;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;

  h1 {
    font-weight: 400;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;

    span {
      text-align: end;
      display: inline-flexbox;
      min-width: 10px;
      margin: 0;
      margin-bottom: 3px;
      color: $error-main-color;
    }

    .form-group--label-error {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
    }
    label {
      //min-width: 50px;
      display: inline-flexbox;
      margin-bottom: 3px;
    }
    .form-group--input {
      @include input;
      transition: border-color 0.2s;
    }
    .input--error {
      @include error;
    }
    .form-group--input:focus {
      border-color: $border-color;
    }

    .input--error:focus {
      border-color: $error-main-color;
    }

    ::placeholder {
      font-weight: 100;
      color: rgba(255, 255, 255, 0.541);
    }

    .form-group-date {
      flex-direction: row;
      display: flex;
      justify-content: space-between;

      .date-select {
        width: 30%;
        @include input;
        outline: none;
      }

      option {
        font-size: 16px;
        background-color: $secondary-bg;
      }

      .date-select--error {
        @include error;
      }
    }
    button {
      @include input;
      height: 80px;
      font-size: 25px;
      border: solid 1px;
      border-radius: 15px;
      background-color: $button-color;
      transition: all 0.2s linear;
      cursor: pointer;
      margin: 0;
      &:disabled {
        color: rgb(194, 194, 194);
        border: solid 1px;
        border-radius: 15px;
        border-color: rgba(165, 164, 164, 0.11);
        background-color: rgba(165, 164, 164, 0.11);
        cursor: default;
      }
    }
    .link {
      text-align: center;
      color: rgba(255, 255, 255, 0.486);
      text-decoration: none;
      font-size: 20px;
    }
  }
}
