body {
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 5px;
  background-color: #192e41;
  margin: 0;
  padding: 10px 10px;
}

@media (max-width: 450px) {
  body {
    font-size: 16px;
  }
}

nav {
  background-color: #2f415f;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  padding: 10px 10px;
}

nav .nav--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
}

nav .nav--right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .navlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 0px 10px;
  font-size: 18px;
  border-radius: 15px;
  background-color: #2f527a;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-right: 10px;
}

nav .navlink p {
  margin: 0;
  color: white;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: auto;
}

span {
  text-align: end;
  display: inline-flexbox;
  min-width: 10px;
  margin: 0;
  margin-bottom: 3px;
  color: #e02a2a;
}

.form {
  background-color: #2f415f;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.form h1 {
  font-weight: 400;
}

.form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-bottom: 10px;
}

.form .form-group .form-group--label-error {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .form-group label {
  display: inline-flexbox;
  margin-bottom: 3px;
}

.form .form-group .form-group--input {
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 5px;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  height: 40px;
  background-color: #1c324b;
  padding: 0px;
  padding-left: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

@media (max-width: 450px) {
  .form .form-group .form-group--input {
    font-size: 16px;
  }
}

.form .form-group .input--error {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: rgba(214, 42, 42, 0.164);
  border-color: #e02a2a;
}

.form .form-group .form-group--input:focus {
  border-color: #8e9ebb;
}

.form .form-group .input--error:focus {
  border-color: #e02a2a;
}

.form .form-group ::-webkit-input-placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.541);
}

.form .form-group :-ms-input-placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.541);
}

.form .form-group ::-ms-input-placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.541);
}

.form .form-group ::placeholder {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.541);
}

.form .form-group .form-group-date {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .form-group .form-group-date .date-select {
  width: 30%;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 5px;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  height: 40px;
  background-color: #1c324b;
  padding: 0px;
  padding-left: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
  outline: none;
}

@media (max-width: 450px) {
  .form .form-group .form-group-date .date-select {
    font-size: 16px;
  }
}

.form .form-group .form-group-date option {
  font-size: 16px;
  background-color: #2f415f;
}

.form .form-group .form-group-date .date-select--error {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: rgba(214, 42, 42, 0.164);
  border-color: #e02a2a;
}

.form .form-group button {
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 5px;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  height: 40px;
  background-color: #1c324b;
  padding: 0px;
  padding-left: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
  height: 80px;
  font-size: 25px;
  border: solid 1px;
  border-radius: 15px;
  background-color: #2f527a;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  margin: 0;
}

@media (max-width: 450px) {
  .form .form-group button {
    font-size: 16px;
  }
}

.form .form-group button:disabled {
  color: #c2c2c2;
  border: solid 1px;
  border-radius: 15px;
  border-color: rgba(165, 164, 164, 0.11);
  background-color: rgba(165, 164, 164, 0.11);
  cursor: default;
}

.form .form-group .link {
  text-align: center;
  color: rgba(255, 255, 255, 0.486);
  text-decoration: none;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */